/***** Tooltip *****/
.d3-tip {
  z-index: 10;
  line-height: 1;
  padding: 12px;

  color: #fff;

  border: 1px solid white;
  border-radius: 5px;
  box-shadow: inset 1px 1px 8px 8px rgba(0,0,0,.4);

  background: radial-gradient( rgb(0, 30, 60), rgb(30, 30, 30) ) ;

  font-size: 12px;
}

/* Style northward tooltips differently*/
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/***** Axes *****/
text {
  fill: white;
  font-size: 12px;
  font-family: Arial;
}
.axis {
  shape-rendering: crispEdges
}
.axis path {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}
.axis line {
  fill: white;
  stroke: white;
  shape-rendering: crispEdges;
}
.y.axis path {
  fill: none;
  stroke: white;
  stroke-width: 1.5,;
  shape-rendering: crispEdges;
  font-size: 12px;
}

.bar {
  fill: #db8400;
  stroke: none;
}
.bar.hovered-bar {
  fill: #FC0;
  stroke: white;
}

.barchart-title {
  font-size: 18px;
  font-style: italic;
  font-weight: 100;
  fill: #fc0;
}

.tipLabel {
  font-weight: bold;
}
.tipValue {
  color: #FC0;
}